.container {
  margin: 20px auto;
  max-width: 1380px;
}
.wrapper {
  border: 3px solid rgb(112, 3, 189);
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(225, 199, 250);
}
p {
  text-align: center;
  font-size: 25px;
  margin: 0 auto;
}
.weekDays {
  color: rgb(112, 3, 189);
  font-family: "Edu TAS Beginner", cursive;
  font-size: 25px;
  border: 3px solid rgb(112, 3, 189);
  display: block;
  text-align: center;
}
img {
  width: 90px;
}
.forecast {
  font-size: 20px;
}
#maxtemp {
  color: rgb(255, 0, 0);
}
#mintemp {
  color: rgb(0, 38, 255);
}
form {
  text-align: center;
  font-family: "Edu TAS Beginner", cursive;
  font-size: 30px;
  padding: 10px;
  border-radius: 40px;
}
#send {
  font-size: 30px;
  font-family: "Edu TAS Beginner", cursive;
  color: rgb(112, 3, 189);
  margin: 30px auto;
  background: rgb(255, 255, 255);
}
#send:hover {
  cursor: pointer;
  transition: all 200ms ease-in-out;
  background: rgb(112, 3, 189);
  color: rgb(255, 255, 255);
}
h2 {
  display: block;
  font-size: 50px;
  padding: 0;
  border-radius: 40px;
  text-align: center;
  font-family: "Edu TAS Beginner", cursive;
  color: rgb(112, 3, 189);
  margin: 0px 30px 30px 30px;
}
.weatherData {
  color: rgb(112, 3, 189);
  font-family: "Edu TAS Beginner", cursive;
  font-size: 20px;
  border: 3px solid rgb(112, 3, 189);
  padding: 5px;
  display: block;
  text-align: justify;
}
.weatherData:hover {
  background-color: rgb(255, 255, 255);
  border: none;
}
.description {
  color: rgb(112, 3, 189);
  font-family: "Edu TAS Beginner", cursive;
  font-size: 30px;
  padding: 5px;
  display: block;
  text-align: center;
}
.time-date {
  color: rgb(112, 3, 189);
  font-family: "Edu TAS Beginner", cursive;
  font-size: 20px;
  border: 3px solid rgb(112, 3, 189);
  padding: 5px;
  display: block;
  text-align: center;
}
.time-date:hover {
  border: none;
  background-color: rgb(255, 255, 255);
}
button {
  display: block;
  padding: 10px 50px;
  font-size: 30px;
  border-radius: 40px;
  font-family: "Edu TAS Beginner", cursive;
  color: rgb(112, 3, 189);
  margin: 30px auto;
  background: rgb(255, 255, 255);
}
button:hover {
  cursor: pointer;
  transition: all 200ms ease-in-out;
  background: rgb(112, 3, 189);
  color: rgb(255, 255, 255);
}
.fahrenheit {
  margin: 30px 85px;
  font-size: 30px;
  font-family: "Edu TAS Beginner", cursive;
  text-align: center;
  border: 2px solid black;
  border-radius: 40px;
  padding: 10px 0;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
}
.active {
  color: rgb(112, 3, 189);
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
}
small {
  text-align: left;
  font-size: 20px;
  color: rgb(112, 3, 189);
  font-family: "Edu TAS Beginner", cursive;
}
.website {
  text-decoration: underline;
  color: rgb(174, 82, 240);
}
